<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a href="/admin" class="navbar-brand"> <i class="fas fa-code me-2"></i>ADMINISTRATOR</a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">
                            <i class="fas fa-home me-2"> Home</i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/add">
                            <i class="fas fa-user-plus me-2"> Add User</i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <!-- <form action="", method="post"> -->
                            <a class="nav-link" href="/adminLogout">
                                <i class="fas fa-power-off  me-2"> Logout</i>
                            </a>
                        <!-- </form> -->
                    </li>
                </ul>
            </div>
 
        </div>
    </nav>